@model IEnumerable<EducationCenter_cw2.Models.Student>
@{
    ViewBag.Title = "ImportCsv";
}

<h2>ImportCsv</h2>

@using (Html.BeginForm("ImportCsv", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.ValidationSummary(true, "", new { @class = "text-danger"})
<div class="form-group">
    @Html.Label("Csv File", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBox("csvFile", "", new { @class = "form-control", type = "file" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Import" class="btn btn-default" />
    </div>
</div>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(
           Html.DisplayNameFor(model => model.name).ToHtmlString()
           , "Index"
           )
        </th>
        <th>
            @HtmlDisplayNameFor(model =>phoneNumber)
        </th>
    </tr>
</table>